<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/fontawesome.min.css">
</head>

<body>
    <!-- <div class="landingPageContent">
        <h1>KusKus</h1>
        <div class="button">
            <a href="/login">
                <button type="button" id="login">LOGIN</button>
            </a>
            <br>
            <a href="/signup">
                <button type="button" id="signup">SIGNUP</button>
            </a>
        </div>
    </div> -->
    <header>
        <h1>KusKus</h1>
        <a href="/homepage">
            <h3>Home</h3>
        </a>
        <a href="/mythreads">
            <h3>My Threads</h3>
        </a>
        <div class="icon">
            <i class="fa fa-search"></i>
            <i class="fa fa-user"></i>
        </div>
    </header>
    <div class="homeContent">
        
    </div>
</body>

</html>