<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="landingPageContent">
        <h1>Forum</h1>
        <div class="button">
            <a href="/login">
                <button type="button" id="login">LOGIN</button>
            </a>
            <br>
            <a href="/signup">
                <button type="button" id="signup">SIGNUP</button>
            </a>
        </div>
    </div>
</body>

</html>