<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>

<body>
    <div class="landingPageContent">
        <h1>KusKus</h1>
        <div class="button">
            <a href="/login">
                <button type="button" id="login">LOGIN</button>
            </a>
            <br>
            <br>
            <a href="/signup">
                <button type="button" id="signup">SIGNUP</button>
            </a>
        </div>
    </div>
</body>

</html>