<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>KusKus</h1>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
        <button>Login</button>
        <a href="/signup">
            <p>Create Account</p>
        </a>
    </form>
</body>
</html>