<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/mythread.css">
    <script type="text/javascript" src= "/mythread.js"></script>
</head>

<body>
    <header>
        <h1>KusKus</h1>
        <a href="/homepage">
            <h3>Home</h3>
        </a>
        <a href="/mythreads">
            <h3>My Threads</h3>
        </a>
        <a href="/login">
            <h3>Log Out</h3>
        </a>
        <div class="icon">
            <i class="fa fa-search"></i>
            <i class="fa fa-user"></i>
        </div>
    </header>

    <body>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" id="loading">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <h1>My Threads</h1>
        <div>
            <input type="text" id="search" name="search" onkeyup="search()">
        </div>
        <table id="threadArray"></table>
        <div id="pagination"></div>

    </body>


</html>