<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Forum</h1>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
        <input type="password" name="password" placeholder="Retype Password"> <br>
        <button>Sign Up</button>
    </form>
</body>
</html>