header{
    display: flex;
    justify-content: space-around;
    padding-right: 100px;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 10px;
    /* background-image: url(/headerback.jpg); */
}
header a{
    text-decoration: none;
    color: black;
    padding-top: 5px;
    font-size: 15pt;
}
header a:hover{
    color: rgb(157, 138, 63);
}
#namaWeb{
    font-family: 'Italianno', cursive;
    font-size: 50pt;
    padding-top: 0px;
    margin-top: 0px;
}
#h1page{
    text-align: center;
}
#submit{
    background: #FFFFFF;
    border: 2px solid #000000;
    width: 100px;
    height: 30px;
    border-radius: 7px;
}
#submit:hover{
    background-color: rgb(177, 177, 177);
}
#content{
    border: solid;
    border-radius: 3px;
    border-color: black;
    margin-bottom: 30px;
    padding: 5px;
}
#commentus{
    text-align: center;
    margin-top: 0px;
    border: solid 2px;
    border-radius: 1px;
    border-color: black;
    padding: 5px;
}
#searc{
   text-align: center;
   margin-bottom: 5px;
}
#title{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 30pt;
}
#date{
    text-align: center;
    margin-top: 5px;
}
#name{
    text-align: center;
}
#category{
    text-align: left;
}
/* #urcom{
    font-size: 80pt;
} */