body {
    margin: 0;
    background-color: #D3EBCD;
}

header {
    display: flex;
    justify-content: space-around;
    padding-right: 100px;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 10px;
    background-color: #AEDBCE;
}

.konten {
    margin: 8px;
}

header a {
    text-decoration: none;
    color: #635666;
    padding-top: 5px;
    font-size: 15pt;
}

header a:hover {
    color: #839AA8;
}

#namaWeb {
    font-family: 'Italianno', cursive;
    font-size: 50pt;
    padding-top: 0px;
    margin-top: 0px;
    color: #635666;
}

#h1page {
    text-align: center;
    color: #635666;
}

#submit {
    background: #FFFFFF;
    border: 2px solid #635666;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

#submit:hover {
    background-color: rgb(210, 210, 210);
}

#content {
    border: solid;
    border-radius: 3px;
    border-color: #635666;
    margin-bottom: 30px;
    padding: 5px;
}

#commentus {
    text-align: left;
    /* margin-top: 0px;
    border: solid 2px;
    border-radius: 1px;
    border-color: black; */
    padding-top: 5px;
}

#send {
    background: #FFFFFF;
    border: 2px solid #635666;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

#send:hover {
    background-color: rgb(210, 210, 210);
}

#searchBar {
    text-align: center;
    margin-bottom: 5px;
}

#search {
    width: 215px;
    height: 28px;
    border-radius: 3px;
}

#pagination {
    display: inline-block;
    padding-bottom: 10px;
}

#page {
    background-color: white;
    border: solid #635666 1px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#page:hover {
    background-color: rgb(210, 210, 210);
}

#title {
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 30pt;
}

#date {
    text-align: center;
    margin-top: 5px;
}

#name {
    text-align: center;
}

#category {
    text-align: left;
}