header{
    /* background-color: #c2281d; */
    
    display: flex;
    justify-content: space-around;
    /* font-family: sans-serif; */
    padding-left: 0px;
}
#kuskus{
    font-family: 'Italianno', cursive;
    font-size: 30pt;
    margin-bottom: 0;
}
#content{
    border: solid;
    border-radius: 2px;
    border-color: bisque;
    margin-bottom: 2px;
}
#searc{
   text-align: center;
   margin-bottom: 5px;
}
#title{
    text-align: center;
}
#date{
    text-align: right;
}
#name{
    text-align: right;
}
#category{
    text-align: left;
}
#urcom{
    text-align: left;
}