body{
    margin: 0;
    background-color: #CBF1F5;
}

header {
    display: flex;
    justify-content: space-around;
    padding-right: 100px;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 10px;
    background-color: #71C9CE;
}

header a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    font-size: 15pt;
}

header a:hover {
    color: #D3EBCD;
}

.konten {
    margin: 8px;
}


#namaWeb {
    font-family: 'Italianno', cursive;
    font-size: 50pt;
    padding-top: 0px;
    margin-top: 0px;
}

#h1page {
    text-align: center;
}

#content {
    border: solid;
    border-radius: 2px;
    border-color: bisque;
    margin-bottom: 2px;
}

#threadArray {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#threadArray td,
#threadArray th {
    border: 1px solid black;
    padding: 10px;
}

#threadArray th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#searchBar {
    text-align: center;
    margin-bottom: 5px;
}

#search {
    width: 215px;
    height: 28px;
    border-radius: 3px;
}

#pagination {
    display: inline-block;
    padding-bottom: 10px;
}

#page {
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#page:hover {
    background-color: rgb(210, 210, 210);
}

/*
#title{
    text-align: center;
}
#date{
    text-align: right;
}
#name{
    text-align: right;
}
#category{
    text-align: left;
}
#urcom{
    text-align: left;
} */